@charset "utf-8";

body {
  margin: 0;
  overflow: hidden;
  background: url(./images/bg.png) no-repeat center/cover;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  height: 100vh;
  position: relative;
}

main .content {
  position: absolute;
  top: 20%;
  left: 7%;
}
