@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #000 url(./images/bg.jpg) no-repeat center/cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.area {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
